<div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor"></h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                                <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
                                <li class="breadcrumb-item active">Bidder</li>
                            </ol>
                            <a class="btn btn-info d-none d-lg-block m-l-15" href="add-user.html" role="button"><i class="fa fa-plus-circle"></i> Create New</a>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Info box Content -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">User</h4>
                                <div class="table-responsive m-t-40">
                                    <table id="myTable" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Account</th>
                                                <th>Name</th>
                                                <th>Detail</th>
                                                <th>Delete</th>
                                                <th>Update</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Tiger Nixon</td>
                                                <td>System Architect</td>
                                                <td><a class="btn btn-primary" target="_blank" href="detail-user.html" role="button">Detail</a></td>
                                                <td><a class="btn btn-primary" href="#" role="button">Delete</a></td>
                                                <td><a class="btn btn-primary" href="update-user.html" target="_blank" role="button">Update</a></td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Garrett Winters</td>
                                                <td>Accountant</td>
                                                <td><a class="btn btn-primary" href="#" role="button">Detail</a></td>
                                                <td><a class="btn btn-primary" href="#" role="button">Delete</a></td>
                                                <td><a class="btn btn-primary" href="#" role="button">Update</a></td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Ashton Cox</td>
                                                <td>Junior Technical Author</td>
                                                <td><a class="btn btn-primary" href="#" role="button">Detail</a></td>
                                                <td><a class="btn btn-primary" href="#" role="button">Delete</a></td>
                                                <td><a class="btn btn-primary" href="#" role="button">Update</a></td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Cedric Kelly</td>
                                                <td>Senior Javascript Developer</td>
                                                <td><a class="btn btn-primary" href="#" role="button">Detail</a></td>
                                                <td><a class="btn btn-primary" href="#" role="button">Delete</a></td>
                                                <td><a class="btn btn-primary" href="#" role="button">Update</a></td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Airi Satou</td>
                                                <td>Accountant</td>
                                                <td><a class="btn btn-primary" target="_blank" href="detail-user.html" role="button">Detail</a></td>
                                                <td><a class="btn btn-primary" href="#" role="button">Delete</a></td>
                                                <td><a class="btn btn-primary" href="update-user.html" target="_blank" role="button">Update</a></td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>Brielle Williamson</td>
                                                <td>Integration Specialist</td>
                                                <td><a class="btn btn-primary" href="#" role="button">Detail</a></td>
                                                <td><a class="btn btn-primary" href="#" role="button">Delete</a></td>
                                                <td><a class="btn btn-primary" href="#" role="button">Update</a></td>
                                            </tr>
                                            <tr>
                                                <td>7</td>
                                                <td>Herrod Chandler</td>
                                                <td>Sales Assistant</td>
                                                <td><a class="btn btn-primary" href="#" role="button">Detail</a></td>
                                                <td><a class="btn btn-primary" href="#" role="button">Delete</a></td>
                                                <td><a class="btn btn-primary" href="#" role="button">Update</a></td>
                                            </tr>
                                            <tr>
                                                <td>8</td>
                                                <td>Rhona Davidson</td>
                                                <td>Integration Specialist</td>
                                                <td><a class="btn btn-primary" href="#" role="button">Detail</a></td>
                                                <td><a class="btn btn-primary" href="#" role="button">Delete</a></td>
                                                <td><a class="btn btn-primary" href="#" role="button">Update</a></td>
                                            </tr>
                                            <tr>
                                                <td>9</td>
                                                <td>Colleen Hurst</td>
                                                <td>Javascript Developer</td>
                                                <td><a class="btn btn-primary" href="#" role="button">Detail</a></td>
                                                <td><a class="btn btn-primary" href="#" role="button">Delete</a></td>
                                                <td><a class="btn btn-primary" href="#" role="button">Update</a></td>
                                            </tr>
                                            <tr>
                                                <td>10</td>
                                                <td>Sonya Frost</td>
                                                <td>Software Engineer</td>
                                                <td><a class="btn btn-primary" href="#" role="button">Detail</a></td>
                                                <td><a class="btn btn-primary" href="#" role="button">Delete</a></td>
                                                <td><a class="btn btn-primary" href="#" role="button">Update</a></td>
                                            </tr>
                                            <tr>
                                                <td>11</td>
                                                <td>Jena Gaines</td>
                                                <td>Office Manager</td>
                                                <td><a class="btn btn-primary" href="#" role="button">Detail</a></td>
                                                <td><a class="btn btn-primary" href="#" role="button">Delete</a></td>
                                                <td><a class="btn btn-primary" href="#" role="button">Update</a></td>
                                            </tr>
                                            <tr>
                                                <td>12</td>
                                                <td>Quinn Flynn</td>
                                                <td>Support Lead</td>
                                                <td><a class="btn btn-primary" href="#" role="button">Detail</a></td>
                                                <td><a class="btn btn-primary" href="#" role="button">Delete</a></td>
                                                <td><a class="btn btn-primary" href="#" role="button">Update</a></td>
                                            </tr>
                                            <tr>
                                                <td>13</td>
                                                <td>Charde Marshall</td>
                                                <td>Regional Director</td>
                                                <td><a class="btn btn-primary" href="#" role="button">Detail</a></td>
                                                <td><a class="btn btn-primary" href="#" role="button">Delete</a></td>
                                                <td><a class="btn btn-primary" href="#" role="button">Update</a></td>
                                            </tr>
                                            <tr>
                                                <td>14</td>
                                                <td>Haley Kennedy</td>
                                                <td>Senior Marketing Designer</td>
                                                <td><a class="btn btn-primary" href="#" role="button">Detail</a></td>
                                                <td><a class="btn btn-primary" href="#" role="button">Delete</a></td>
                                                <td><a class="btn btn-primary" href="#" role="button">Update</a></td>
                                            </tr>
                                            <tr>
                                                <td>15</td>
                                                <td>Tatyana Fitzpatrick</td>
                                                <td>Regional Director</td>
                                                <td><a class="btn btn-primary" href="#" role="button">Detail</a></td>
                                                <td><a class="btn btn-primary" href="#" role="button">Delete</a></td>
                                                <td><a class="btn btn-primary" href="#" role="button">Update</a></td>
                                            </tr>
                                            <tr>
                                                <td>16</td>
                                                <td>Michael Silva</td>
                                                <td>Marketing Designer</td>
                                                <td><a class="btn btn-primary" href="#" role="button">Detail</a></td>
                                                <td><a class="btn btn-primary" href="#" role="button">Delete</a></td>
                                                <td><a class="btn btn-primary" href="#" role="button">Update</a></td>
                                            </tr>
                                            <tr>
                                                <td>17</td>
                                                <td>Paul Byrd</td>
                                                <td>Chief Financial Officer (CFO)</td>
                                                <td><a class="btn btn-primary" href="#" role="button">Detail</a></td>
                                                <td><a class="btn btn-primary" href="#" role="button">Delete</a></td>
                                                <td><a class="btn btn-primary" href="#" role="button">Update</a></td>
                                            </tr>
                                            <tr>
                                                <td>18</td>
                                                <td>Gloria Little</td>
                                                <td>Systems Administrator</td>
                                                <td><a class="btn btn-primary" href="#" role="button">Detail</a></td>
                                                <td><a class="btn btn-primary" href="#" role="button">Delete</a></td>
                                                <td><a class="btn btn-primary" href="#" role="button">Update</a></td>
                                            </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- ============================================================== -->

            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>