<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor"></h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
                        <li class="breadcrumb-item active">User's Detail</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Info box Content -->
        <div class="row">
            <div class="card mb-3">
                <img src="../images/client1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td scope="row">Username: </td>
                                <td>abc.xyz</td>
                            </tr>
                            <tr>
                                <td scope="row">Name:</td>
                                <td>Trần Lê Tí Chuột</td>
                            </tr>
                            <tr>
                                <td scope="row">Email:</td>
                                <td>tranletichuot@abc.xyz</td>
                            </tr>
                            <tr>
                                <td scope="row">Birthday: </td>
                                <td>01/01/1999</td>
                            </tr>
                            <tr>
                                <td scope="row">Address:</td>
                                <td>123 Wall Street</td>
                            </tr>
                            <tr>
                                <td scope="row">Role:</td>
                                <td>Bidder</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->

    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>