<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor"></h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">FAQS</li>
                    </ol>
                </div>
            </div>
        </div>

        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Info box Content -->
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h4>ADD FAQS</h4>
        
                        <form method="post" action="">
                            <div class="form-group">
                                <label>Question</label>
                                <input type="text" name="question" class="form-control" value="">
                            </div>
                            <div class="form-group">
                                <label>Ask</label>
                                <input type="text" name="ask" class="form-control" value="">
                            </div>
                            <button type="submit" class="btn btn-info">ADD</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">FAQS</h4>
                        <div class="table-responsive m-t-40">
                            <table id="myTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Question</th>
                                        <th>Ask</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>How can I create an account?</td>
                                        <td>Click the link Sign up. Then you can create a account with your email, name,....</td>
                                        <th>
                                            <button type="button" class="btn btn-primary">Edit</button>
                                            <button type="button" class="btn btn-danger">Delete</button>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Helpful Resources for Authors</td>
                                        <td>Yes</td>
                                        <th>
                                            <button type="button" class="btn btn-primary">Edit</button>
                                            <button type="button" class="btn btn-danger">Delete</button>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>How can I create an account?</td>
                                        <td>Click the link Sign up. Then you can create a account with your email, name,....</td>
                                        <th>
                                            <button type="button" class="btn btn-primary">Edit</button>
                                            <button type="button" class="btn btn-danger">Delete</button>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Helpful Resources for Authors</td>
                                        <td>Yes</td>
                                        <th>
                                            <button type="button" class="btn btn-primary">Edit</button>
                                            <button type="button" class="btn btn-danger">Delete</button>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>How can I create an account?</td>
                                        <td>Click the link Sign up. Then you can create a account with your email, name,....</td>
                                        <th>
                                            <button type="button" class="btn btn-primary">Edit</button>
                                            <button type="button" class="btn btn-danger">Delete</button>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>Helpful Resources for Authors</td>
                                        <td>Yes</td>
                                        <th>
                                            <button type="button" class="btn btn-primary">Edit</button>
                                            <button type="button" class="btn btn-danger">Delete</button>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>How can I create an account?</td>
                                        <td>Click the link Sign up. Then you can create a account with your email, name,....</td>
                                        <th>
                                            <button type="button" class="btn btn-primary">Edit</button>
                                            <button type="button" class="btn btn-danger">Delete</button>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>Helpful Resources for Authors</td>
                                        <td>Yes</td>
                                        <th>
                                            <button type="button" class="btn btn-primary">Edit</button>
                                            <button type="button" class="btn btn-danger">Delete</button>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>