<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor"></h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Product</a></li>                                
                        <li class="breadcrumb-item active">Action</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Column -->
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Success Product</h4>
                        <table id="myTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th data-sort-initial="true" data-toggle="true">Product Name</th>
                                    <th>Seller name</th>
                                    <th>Ending Cost</th>
                                    <th data-hide="phone, tablet">DOS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Laptop Dell</td>
                                    <td>Woldt</td>
                                    <td>20$</td>
                                    <td>3 Oct 2017</td>
                                </tr>
                                <tr>
                                    <td>Iphone 8</td>
                                    <td>Goodlow</td>
                                    <td>20$</td>
                                    <td>1 Nov 2014</td>
                                </tr>
                                <tr>
                                    <td>Iphone 8</td>
                                    <td>Boudreaux</td>
                                    <td>20$</td>
                                    <td>22 Jun 2014</td>
                                </tr>
                                <tr>
                                    <td>Laptop Dell</td>
                                    <td>Michael</td>
                                    <td>20$</td>
                                    <td>19 Apr 2013</td>
                                </tr>
                                <tr>
                                    <td>Samsung Galaxy</td>
                                    <td>Hyland</td>
                                    <td>20$</td>
                                    <td>15 Nov 2014</td>
                                </tr>
                                <tr>
                                    <td>Laptop Dell</td>
                                    <td>Halladay</td>
                                    <td>20$</td>
                                    <td>30 Dec 2017</td>
                                </tr>
                                <tr>
                                    <td>Samsung Galaxy</td>
                                    <td>Mcgaughy</td>
                                    <td>20$</td>
                                    <td>11 Nov 2014</td>
                                </tr>
                                <tr>
                                    <td>Laptop Dell</td>
                                    <td>Badgett</td>
                                    <td>20$</td>
                                    <td>23 Jun 2013</td>
                                </tr>
                                <tr>
                                    <td>Samsung Galaxy</td>
                                    <td>Leonardo</td>
                                    <td>20$</td>
                                    <td>19 Apr 2013</td>
                                </tr>
                                <tr>
                                    <td>Apple Watch</td>
                                    <td>Hyland</td>
                                    <td>20$</td>
                                    <td>19 Apr 2013</td>
                                </tr>
                                <tr>
                                    <td>Iphone 8</td>
                                    <td>Halladay</td>
                                    <td>20$</td>
                                    <td>30 Dec 2017</td>
                                </tr>
                                <tr>
                                    <td>Apple Watch</td>
                                    <td>Mcgaughy</td>
                                    <td>20$</td>
                                    <td>11 Nov 2014</td>
                                    <tr>
                                        <td>Iphone 8</td>
                                        <td>Badgett</td>
                                        <td>20$</td>
                                        <td>23 Jun 2013</td>
                                    </tr>
                                    <tr>
                                        <td>Apple Watch</td>
                                        <td>Leonardo</td>
                                        <td>20$</td>
                                        <td>19 Apr 2013</td>
                                    </tr>
                                    <tr>
                                        <td>Iphone 8</td>
                                        <td>Hyland</td>
                                        <td>20$</td>
                                        <td>15 Nov 2014</td>
                                    </tr>
                                    <tr>
                                        <td>Apple Watch</td>
                                        <td>Dragoo</td>
                                        <td>20$</td>
                                        <td>13 Dec 2014</td>
                                    </tr>
                                    <tr>
                                        <td>Iphone 8</td>
                                        <td>Halladay</td>
                                        <td>20$</td>
                                        <td>30 Dec 2017</td>
                                    </tr>
                                    <tr>
                                        <td>Apple Watch</td>
                                        <td>Tangeli</td>
                                        <td>20$</td>
                                        <td>21 May 2014</td>
                                    </tr>
                                    <tr>
                                        <td>Iphone 8</td>
                                        <td>Halladay</td>
                                        <td>20$</td>
                                        <td>30 Dec 2017</td>
                                    </tr>
                                    <tr>
                                        <td>Easer</td>
                                        <td>Dragoo</td>
                                        <td>20$</td>
                                        <td>13 Dec 2014</td>
                                    </tr>
                                    <tr>
                                        <td>Apple Watch</td>
                                        <td>Halladay</td>
                                        <td>20$</td>
                                        <td>30 Dec 2017</td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>