<aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- User Profile-->
                <div class="user-profile">
                    <div class="user-pro-body">
                        <div><img src="../admin/assets/images/users/2.jpg" alt="user-img" class="img-circle"></div>
                        <div>
                            <h4 class="u-dropdown">Bidder</h4>
                        </div>
                    </div>
                </div>
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li>
                            <div class="hide-menu text-center">
                                <div id="eco-spark"></div>
                                <small>TOTAL EARNINGS - JUNE 2019</small>
                                <h4>$2,478.00</h4>
                            </div>
                        </li>
                        <li> <a class=" waves-effect waves-dark" href="dashboard.html" aria-expanded="false"><i class="icon-speedometer"></i><span class="hide-menu">Dashboard</span></a>
                        </li>
                        <li> <a class=" waves-effect waves-dark" href="./upgrade-to-seller.html" aria-expanded="false"><i class="fa fa-level-up" aria-hidden="true"></i><span class="hide-menu">Upgrade to Seller</span></a>
                        </li>
                        <li> <a class=" waves-effect waves-dark" href="./feedback.html" aria-expanded="false"><i class="fa fa-comment-o" aria-hidden="true"></i><span class="hide-menu">Feedback</span></a>
                        </li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-user"></i><span class="hide-menu">Update Infomation</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="update-info.html">Personal Infomation</a></li>
                                <li><a href="update-password.html">Password</a></li>
                            </ul>
                        </li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-layout-grid2"></i><span class="hide-menu">Product</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="product-wishlist.html">Watchlist</a></li>
                                <li><a href="product-bidding.html">Bidding Product</a></li>
                                <li><a href="product-won.html">Won Product</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
    </aside>
<div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor"></h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                                <li class="breadcrumb-item active">Bidding Product</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Bidding Product</h4>
                                <div class="table-responsive m-t-40">
                                    <table id="myTable" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name Product</th>
                                                <th>Image</th>
                                                <th>Remaining Time</th>
                                                <th>Current price</th>
                                                <th>Winner</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Tiger Nixon</td>
                                                <td>
                                                    <img src="../images/shop/dress/3.jpg" height="100px">
                                                    <img src="../images/shop/dress/3-1.jpg" height="100px">
                                                    <img src="../images/shop/dress/3-2.jpg" height="100px">
                                                </td>
                                                <td>5days 05:05:05</td>
                                                <td>8.000.000 VND</td>
                                                <td>abc.xyz</td>
                                                <td>
                                                    <a href="#" class="col-12 btn btn-success">View</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Tiger Nixon</td>
                                                <td>
                                                    <img src="../images/shop/dress/3.jpg" height="100px">
                                                    <img src="../images/shop/dress/3-1.jpg" height="100px">
                                                    <img src="../images/shop/dress/3-2.jpg" height="100px">
                                                </td>

                                                <td>5days 05:05:05</td>
                                                <td>8.000.000 VND</td>
                                                <td>abc.xyz</td>
                                                <td>
                                                    <a href="#" class="col-12 btn btn-success">View</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Tiger Nixon</td>
                                                <td>
                                                    <img src="../images/shop/dress/3.jpg" height="100px">
                                                    <img src="../images/shop/dress/3-1.jpg" height="100px">
                                                    <img src="../images/shop/dress/3-2.jpg" height="100px">
                                                </td>

                                                <td>5days 05:05:05</td>
                                                <td>8.000.000 VND</td>
                                                <td>abc.xyz</td>
                                                <td>
                                                    <a href="#" class="col-12 btn btn-success">View</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Tiger Nixon</td>
                                                <td>
                                                    <img src="../images/shop/dress/3.jpg" height="100px">
                                                    <img src="../images/shop/dress/3-1.jpg" height="100px">
                                                    <img src="../images/shop/dress/3-2.jpg" height="100px">
                                                </td>

                                                <td>5days 05:05:05</td>
                                                <td>8.000.000 VND</td>
                                                <td>abc.xyz</td>
                                                <td>
                                                    <a href="#" class="col-12 btn btn-success">View</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
    </div>
